<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>贤聚 在线答题</title>

<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <link rel="stylesheet" th:href="@{/css/tooplate.css}">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>

<body id="home">
    <div class="container tm-home-mt tm-home-container">
        <div class="row">
            <div class="col-12">
                <div class="tm-home-left">
                    <h1 class="tm-site-title">贤聚</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="tm-home-left mt-3 font-weight-light">
                    <p class="tm-mb-35">
                        寂寞青灯伴君行，心中有佛言有衷!
                        <!--旧版答题系统地址：<a href="http://www.molimithjc.top:8080">答题</a>&emsp;新系统已经重构为贤聚答题-->
                    </p>
                    <p class="tm-mb-35">贤聚答题是一个在线的答题网站.</p>
                    <p>欢迎您的来访!</p>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <ul class="list-group tm-home-list tm-bg-black font-weight-light">
                    <li class="d-flex justify-content-between align-items-center">
                        <a th:href="@{/html/rg.php}" class="tm-white-text"> Register</a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center" th:if="${session.user} eq null">
                        <a th:href="@{/html/sg.php}" class="tm-white-text"> 注册账号</a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center" th:if="${session.user} eq null">
                        <a th:href="@{/html/lg.php}" class="tm-white-text">03. 账号登录</a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center" th:if="${session.user} ne null">
                        <a th:href="@{/html/sr.php}" class="tm-white-text">04. 答题</a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center" th:if="${session.user} ne null">
                        <a th:href="@{/html/al.php}" class="tm-white-text">05. Application</a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center" th:if="${user} ne null">
                        <a th:href="@{/html/gh.php}" class="tm-white-text">06. 交流室</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="row tm-mt-big mb-3" th:fragment="footer">
        <div class="col-xl-12 text-center font-weight-light">
            <p class="d-inline-block tm-bg-black white-text py-2 tm-px-5">
                网站模板取自<a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
            </p>
        </div>
    </footer>
</body>

</html>